<div class="container">
    <form name="frmprd">
        <div class="form-group">
            <label>Product Id</label>
            <!--Data Binding Two Way with ngModel-->
            <input type="text" name="ProductId" [(ngModel)]="product.ProductId" class="form-control" required #ProductId="ngModel" [ngClass]="{'alert-danger':ProductId?.invalid && ProductId?.touched}">
            <div class="alert alert-danger" *ngIf="ProductId.invalid" >
                <p *ngIf="ProductId.errors.required">Product Id is required</p>
            </div>
        </div>
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" name="ProductName" [(ngModel)]="product.ProductName" class="form-control">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" name="Price" [(ngModel)]="product.Price" class="form-control">
             <input type="text" class="form-control" [value]="productTax" disabled />
        </div>
        <div class="form-group">
            <label>Category</label>
            <select name="Category" [(ngModel)]="product.Category" class="form-control">
        <option *ngFor="let c of cats" value="{{c}}">{{c}}</option>
      </select>
        </div>
        <div class="form-group">
            <!--Event Binding (click)-->
            <input type="button" value="New" class="btn btn-warning" (click)="clear()">
            <input type="button" value="Save" class="btn btn-success" (click)="save()">
        </div>
    </form>
</div>
<hr/>
<div class="container">
<div class="row">
<div class="col-md-7">
<div class="input-group mb-3">

  <input type="text" class="form-control" placeholder="Product Name" aria-label="Product Name" aria-describedby="basic-addon2" [(ngModel)]="productName" name="productName">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="searchByProductName()">Search</button>
     <button class="btn btn-outline-secondary" type="button" (click)="reset()">Reset</button>
  </div>

  <input type="text" class="form-control" placeholder="Category Name" aria-label="Category Name" aria-describedby="basic-addon2" [(ngModel)]="categoryName" name="categoryName" style="margin-left:20px;">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="searchByCategoryName()">Search</button>
     <button class="btn btn-outline-secondary" type="button" (click)="reset()">Reset</button>
  </div>
</div>
<div class="input-group mb-3">

</div>
</div>
<div class="col-md-5">
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="radioBtns" id="sortByProductName" value="sort" (change)="sortByProductName()">
  <label class="form-check-label" for="sortByProductName">
        Sort By Product Name
  </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="radioBtns" id="reverseProductName" value="sort" (change)="reverseProductName()">
  <label class="form-check-label" for="reverseProductName">
        Reverse Product Name
  </label>
</div>
</div>
</div>
    <table class="table table-striped table-bordered table-dark">
        <thead>
            <tr>
                <th *ngFor="let h of headers">{{h}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prd of products" (click)="getSelectedProduct(prd)">
                <td *ngFor="let h of headers" class="{{h}}">
                    {{prd[h]}}
                </td>
                <td>
                   <input type="button" value="Delete" class="btn btn-warning" (click)="delete(prd)">
                </td>
            </tr>
        </tbody>
    </table>
</div>
